{% if request.user.is_authenticated %}
<p> You are already logged in, <a href="/polls/logout">logout</a> or <a href="/polls">return home</a></p>
{% else %}
Invalid password, try again or reset with security question!
<br>
{% include "polls/authheader.html" %}

<br>
Or reset using security question
<br>
<p> <form method="POST" action="/polls/reset/{{user.username}}">
<!--{% csrf_token %}-->
<div class="form-group">
{{secq.question_text}}
<br>
<input type="text" class="form-control" name="secq" placeholder="Security question answer!">
<br>
<input type="password" class="form-control" name="password" placeholder="New password">
<br>
<input type="password" class="form-control" name="password2" placeholder="New password again">
<br>
<button type="submit" class="btn btn-primary btn-lg">Reset</button>
</div> 
</form>

</p>
{% endif %}